@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Cardo:400,400italic,700);

.clearfix {
    overflow: auto;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
/* General Styles */
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
p {
    font-size: 14px;
    line-height: 22.4px;
    color: #6c7279; }
body{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #6c7279;
}

ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style:none;
}

#header {
    position: fixed;
    z-index: 999;
    width: 100%;
}
#header .header-content {
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    margin: 0 auto;
    padding: 40px 0;
    max-width: 1170px;
    width: 100%;
    transition: padding 0.3s; 
}
#header .logo{
    float: left;
}
#header.fixed {
    background-color: #292c47;
 }
 #header.fixed .header-content {
    border-bottom: 0;
    padding: 25px 0; }


.container {
    margin: 0 auto;
    text-align: center;
    width: 85%; 
}
/* Banner */

.banner {
    background: url(/images/banner.jpg) center top/cover no-repeat;
    min-height: 750px;

}
.banner-text {
   
    padding-top: 25%;
}
.banner-text h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.banner-text p {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 300;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 80px;
}
.navigation {
    float: right;
}
.navigation li {
    display: inline-block;
}

.navigation a {
    color: rgba(255, 255, 255, 0.75);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    margin-left: 40px;
    transition: 0.3s;
}
.navigation a:hover, .navigation a:active {
    color: #fff;
}

.btn {
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 600;
    background-color: #e84545;
    padding: 15px 40px;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    transition: 0.3s;
    
}
.btn:hover, .btn:focus {
    background-color: #e82626;
    
    
}

/* Features */

.boxes {
    padding: 100px 0;
    
   
}
.boxes .box {
    width: 33.33333%;
    float: left;
    margin-bottom: 50px;
}
.box .icon {
    color: #e84545;
    font-size: 60px;
}
.feature-content {
    padding: 0 15px;
    margin-top: 30px;
}
.feature-content h5 {
    margin: 10px 0;
    color: #2d3033;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}
.feature-content p {
    margin: 0 0 10px;
    font-size: 14px;
    line-height: 22.4px;
    color: #6c7279;
}

/* Works */

.work {
    min-height: 350px;
    position: relative;
    width: 25%;
    float: left;
    box-shadow: 0 0 0 1px #fff;
    overflow: hidden;
     }
     .work img {
        display:block;
    }

/* Teams */

.person {
    padding: 100px 0;
    float: left;
    width: 25%;
    
}
.person-content {
    width: 85%;
    text-align: left;
    margin-top: 20px;
}
.person h4 {
  font-size: 22px;
  color: #2d3033;
  font-weight: 400;
   
}
.person h5 {
    color: #e84545;
    font-size: 13px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 20px; 
    text-transform: uppercase;
  }
.teams-image {
  
    display: block;
    max-width: 100%;
    height: auto;
}

.social-icons {
    margin-top: 30px;
}
.social-icons li {
    float: left;
}
.social-icons a, .footer-share a{
    border: 1px solid #e8ecee;
    border-radius: 2px;
    color: #c6cacc;
    display: block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    margin-right: 5px;
    text-align: center;
    width: 40px;
   
}
.social-icons a:hover, .footer-share a:hover {
    transition: background-color, color, 0.5ms;
    background-color: #e84545;
    border-color: #e84545;
    color: #fff;
}


/* Download*/
.download {
    background-color: #f3f3f3;
    
}
.download-text {
    padding: 100px 0;
}
.download h3 {
    
    margin-bottom: 10px;
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
 }
  .download p {
    margin-bottom: 10px;
    color: #2d3033;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 22.4px;
  
}
.download .btn {
    display: inline-block;
    margin-top: 20px;
}

/* Footer */
.footer {
    text-align: center;
}
.footer-top {
    padding: 50px 0 100px 0;
    background-color: #3a3e64;

}

.footer-top h5 {
  margin-bottom: 20px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
.footer-top p {
    color: rgba(255, 255, 255, 0.5); 
}
.footer-box {
    width: 33.33333%;
    float: left;
}
.footer .footer-share {
    margin-top: 0;
}
.footer .footer-share li {
    display: inline-block;
    float: none;
}
.footer .footer-share a {
    border-width: 2px;
    color: #fff;
}
.footer-bottom {
    background-color: #313454;
    padding: 20px 0;
}
.footer-bottom p {
    color: rgba(255, 255, 255, 0.5);
}